version: '3.8'

services:
  bot-app:
    environment:
      - TZ=$TIME_ZONE
      - TELEGRAM_TOKEN=$TELEGRAM_TOKEN
      - TELEGRAM_USER_ID=$TELEGRAM_USER_ID
      - IB_ACCOUNT=$IB_ACCOUNT
    container_name: bot-app
    restart: unless-stopped
    build:
      context: ./app

  bot-ib:
    environment:
      - TZ=$TIME_ZONE
      - IBEAM_ACCOUNT=$IB_USER
      - IBEAM_PASSWORD=$IB_PASSWORD
    container_name: bot-ib
    image: voyz/ibeam
    volumes:
      - ./ib/conf.yaml:/srv/inputs/conf.yaml
    restart: unless-stopped
