[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
httpx = "*"
pydantic = "*"
jinja2 = "*"
loguru = "*"

[dev-packages]
debugpy = "*"
watchdog = "==2.2.1"
black = "*"

[requires]
python_version = "3.11"
