=== <b> {{ schema.description }} </b> ===
<b>Size:</b> {{ schema.size }}
<b>Market Price:</b> {{ schema.market_price }}
<b>Market Value:</b> {{ schema.market_value }}
<b>Unrealized P/L:</b> {{ schema.unrealized_pnl }}
<b>Realized P/L:</b> {{ schema.realized_pnl }}
<b>P/L:</b> {{ schema.pnl }}
