=== <b> {{ position.description }} </b> ===
<b>Size:</b> {{ position.size }}
<b>Market Price:</b> {{ position.market_price }}
<b>Market Value:</b> {{ position.market_value }}
<b>Unrealized P/L:</b> {{ position.unrealized_pnl }}
<b>Realized P/L:</b> {{ position.realized_pnl }}
<b>P/L:</b> {{ position.pnl }}
